@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("./assets/fonts/Vazirmatn-Regular.ttf");
}
@font-face {
  font-family: "Vazirmatn-Black";
  src: url("./assets/fonts/Vazirmatn-Black.ttf");
}
@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("./assets/fonts/Vazirmatn-Bold.ttf");
}
@font-face {
  font-family: "Vazirmatn-ExtraBold";
  src: url("./assets/fonts/Vazirmatn-ExtraBold.ttf");
}
@font-face {
  font-family: "Vazirmatn-ExtraLight";
  src: url("./assets/fonts/Vazirmatn-ExtraLight.ttf");
}
@font-face {
  font-family: "Vazirmatn-Light";
  src: url("./assets/fonts/Vazirmatn-Light.ttf");
}
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("./assets/fonts/Vazirmatn-Medium.ttf");
}
@font-face {
  font-family: "Vazirmatn-SemiBold";
  src: url("./assets/fonts/Vazirmatn-SemiBold.ttf");
}
@font-face {
  font-family: "Vazirmatn-Thin";
  src: url("./assets/fonts/Vazirmatn-Thin.ttf");
}

:root {
  --primary-light: #2c7ef8;
  --primary-hover-light: #075cd9;
  --on-primary-light: #ffffff;
  --background-light: #ffffff;
  --on-background-light: #191c1e;
  --surface-light: #ffffff;
  --neutral-9: #f5f6f8;
  --primary-Dark: #3a86f8;
  --primary-hover-Dark: #6ba4fa;
  --background-Dark: #040810;
  --on-background-Dark: #e6e9ef;
  --surface-Dark: #e6e9ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Vazirmatn-Regular";
}
.featureHeader {
  font-family: "Vazirmatn-SemiBold";
  font-size: 40px;
  /*color: var(--on-background-light);*/
}
/*flex flex-col items-center justify-center border py-1 px-[12px] rounded-[24px] h-[156px] gap-[8px] w-[156px] shadow-[0px_4px_63px_0px_#00000008]*/
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid var(--neutral-9);
  border-radius: 24px;
  box-shadow: 0px 4px 63px 0px #00000008;
  background-color: var(--background-light);
}

.features img {
  color: var(--primary-light);
}

.features h4 {
  font: 10px Vazirmatn-Bold;
}

.backgroundElement {
  background: linear-gradient(
    162.19deg,
    rgba(239, 235, 255, 0) 32.45%,
    #ebebfb 79.35%
  );
  box-shadow: -3px 4px 16px 0px #00000000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: -1;
  cursor: pointer;
}
.navigation-bar {
  z-index: 1;
}
.navigation-bar li {
  font-family: "Vazirmatn-Medium";
}
#taskbar-nav h1,
h3 {
  font-family: "Vazirmatn-SemiBold";
}
#taskbar-nav p,
h3 {
  font-family: "Vazirmatn-Light";
}
.profile-user h1 {
  font-family: "Vazirmatn-SemiBold";
}
.profile-user p {
  font-family: "Vazirmatn-Light";
}
.switche-mode p {
  font-family: "Vazirmatn-Medium";
}
.logout {
  font-family: "Vazirmatn-bold";
}
.task-down-header {
  font-family: "Vazirmatn-ExtraBold";
}
.task-down-paragraph {
  font-family: "Vazirmatn-Medium";
}
